h1 {
    color: #f19090;
}
h2 {
color: #ffa856;
}
h3 {
color: #fffc43;
}
.oo {
color: #3e8635;
}
.ss {
color: #65a3ff;
}
.nn {
color: #bf97ff;
}
.ee {
color: #a75aff;
}
.jj {
background-color: #6b0f0f;
}